
<aside class="featured-posts" aria-label="Featured">
    <div class="slider-loading">
        <div id="featured-slider" class="featured-slider">
            {% for post in site.posts %}
            {% if post.featured %}
            <div>
                <div class="slide-inner">
                    {% if post.image %}
                        <a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark"><div class="slide-bg" style="background-image: url({{ site.baseurl }}{{ post.image }})"></div></a>
                    {% endif %}
                    <div class="slide-overlay">
                        <h2 class="entry-title">
                            <a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark"><u>{{ post.title }}</u></a>
                        </h2>
                        <div class="entry-meta">
                            {% assign author = site.authors | where: 'title', post.author | first %}
                            {% if author %}
                            <span class="post-author"><a href="{{ site.baseurl }}/author/{{ post.author }}/">{{ author.name }}</a></span>
                            {% endif %}
                            <span class="post-date">
                            <time class="published" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y" }}</time></span>
                        </div><!-- .entry-meta -->
                        <div class="slider-nav">
                                <button type="button" class="featured-prev"><i class="fa-arrow-left-custom" aria-hidden="true"></i> <span class="screen-reader-text">Previous</span></button>
                                <button type="button" class="featured-next"><i class="fa-arrow-right-custom" aria-hidden="true"></i> <span class="screen-reader-text">Next</span></button>
                            </div>
                    </div><!-- .slide-overlay -->
                </div><!-- .slider-inner -->
            </div>
            {% endif %}
            {% endfor %}
        </div><!-- .featured-slider -->
    </div><!-- .slider-loading -->
</aside><!-- .post -->
