<header class="site-header">
    <div class="inner">
        <div class="site-branding">
            <h1 class="site-title"><a href="{{ site.baseurl }}/" rel="home">{{site.name}}</a></h1>
            <p id="para1" class="site-description"> </p>
        </div><!-- .site-branding -->
        <button id="show-sidebar" class="toggle-sidebar">
            <span class="screen-reader-text">Discover More</span>
            <span aria-hidden="true">MORE</span>
        </button>
    </div><!-- .inner -->
</header><!-- .site-header -->
