{% if site.name and site.site_description %}
<section class="widget widget-text">
    <h2 class="widget-title">About {{ site.name }}</h2>
    <p>{{ site.site_description }}</p>
</section>
{% endif %}

<!-- Create a sorted array of tags -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor
%}{%endcapture %}
{% assign sortedTags = site_tags | split:',' | sort %}
<section class="widget widget-tagcloud">
    <h2 class="widget-title">Tags</h2>
    <div class="tagcloud">
        {% for tag in sortedTags %}
        <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '- ' }}/'>{{ tag | camelcase }}</a>
        {% endfor %}
    </div>
</section>

{% if site.mailchimp_url %}
<section class="widget widget-newsletter">
    <div class="inner">
        <h2 class="widget-title">Subscribe to {{ site.name }}</h2>
        <p>Get the latest and greatest from {{ site.name }} delivered straight to your inbox every week.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                class="validate gh-subscribe-form" target="_blank" novalidate>
                <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
                <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL"
                    placeholder="Your email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
        </div>
    </div>
</section>
{% endif %}

{% include instagram.html clientId="924f677fa3854436947ab4372ffa688d" userId="25523369" accessToken="25523369.a71d3f8.df12b746b5384086a9c241d6823447a9" %}

<section class="widget widget-social">
    <h2 class="widget-title">Follow me</h2>
    <p class="social-links-1">
        {% if site.youtube %}
        <a href="https://youtube.com/channel/{{ site.youtube }}" target="_blank">
            <span class="fa-youtube-play fa" aria-hidden="true"></span>
            <span class="screen-reader-text">YouTube</span>
        </a>
        {% endif %}
        {% if site.facebook %}
        <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank">
            <span class="fa-facebook-f fa" aria-hidden="true"></span>
            <span class="screen-reader-text">Facebook</span>
        </a>
        {% endif %}
        {% if site.github %}
        <a href="https://github.com/{{ site.github }}" target="_blank">
            <span class="fa-github fa" aria-hidden="true"></span>
            <span class="screen-reader-text">GitHub</span>
        </a>
        {% endif %}
        {% if site.codepen %}
        <a href="https://codepen.io/{{ site.codepen }}" target="_blank">
            <span class="fa-codepen fa" aria-hidden="true"></span>
            <span class="screen-reader-text">CodePen</span>
        </a>
        {% endif %}
        {% if site.dribbble %}
        <a href="https://dribbble.com/{{ site.dribbble }}" target="_blank">
            <span class="fa-dribbble fa" aria-hidden="true"></span>
            <span class="screen-reader-text">dribbble</span>
        </a>
        {% endif %}
        {% if site.medium %}
        <a href="https://medium.com/{{ site.medium }}" target="_blank">
            <span class="fa-medium fa" aria-hidden="true"></span>
            <span class="screen-reader-text">medium</span>
        </a>
        {% endif %}
        {% if site.instagram %}
        <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank">
            <span class="fa-instagram fa" aria-hidden="true"></span>
            <span class="screen-reader-text">Instagram</span>
        </a>
        {% endif %}
        {% if site.pinterest %}
        <a href="https://www.pinterest.com/{{ site.pinterest }}" target="_blank">
            <span class="fa-pinterest fa" aria-hidden="true"></span>
            <span class="screen-reader-text">Pinterest</span>
        </a>
        {% endif %}
        {% if site.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <span class="fa-linkedin fa" aria-hidden="true"></span>
            <span class="screen-reader-text">Linkedin</span>
        </a>
        {% endif %}
    </p>
</section>
