// Fonts
$font-primary: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Cousine", "Courier New", Courier, monospace;

// Colors
$color-accent: #f26a79;
$black: #111;
$gray-dark: #333;
$gray: #999;
$gray-light: #f1f1f1;
$darkblue: #002d3f;
$lightblue: #18a5b7;
$yellow: #f7e88a;
