---
layout: default
current: author
title: Author Page
class: 'author-template'
---
{% assign author = site.authors | where: 'title', page.title | first %}
{% assign post_size = site.posts.size | where: 'author', page.title %}

<div id="content" class="site-content">
    <main id="main" class="site-main inner">
        {% if author %}
        <header class="page-header">
            <h1 class="page-title">
                {% if post_size == 0 %}No posts{% elsif post_size == 1 %}1 post{%
                else %}{{ post_size }} posts{% endif %} by
                <span class="vcard highlight">{{ author.name }}</span>
            </h1>
            <div class="author-box">
                <div class="author-info">
                    {% if author.picture %}
                    <div class="avatar-container">
                        <img class="avatar" src="{{ site.baseurl }}{{ author.picture }}" alt="{{ page.author }}" />
                    </div>
                    {% endif %}
                    <div class="author-details">
                        <h2 class="author-title">{{ author.name }}</h2>
                        {% if author.bio %}
                        <p class="author-description">{{ author.bio }}</p>
                        {% endif %}
                        <div class="author-links">
                            {% if author.url %}
                            <a href="{{ author.url_full }}" target="_blank" rel="noopener">
                                <i class="fa-globe" aria-hidden="true"></i>
                                <span class="screen-reader-text">Website</span>
                            </a>
                            {% endif %}
                            {% if author.facebook %}
                            <a href="https://facebook.com/{{ author.facebook }}" target="_blank" rel="noopener">
                                <i class="fa-facebook" aria-hidden="true"></i>
                                <span class="screen-reader-text">Facebook</span>
                            </a>
                            {% endif %}
                            {% if author.twitter %}
                            <a href="https://twitter.com/{{ author.twitter }}" target="_blank" rel="noopener">
                                <i class="fa-twitter" aria-hidden="true"></i>
                                <span class="screen-reader-text">Twitter</span>
                            </a>
                            {% endif %}
                        </div>
                    </div><!-- .author-details -->
                </div><!-- .author-info -->
            </div><!-- .author-box -->
        </header>
        {% endif %}
        <!-- /author -->
        {% assign posts = site.posts | where: 'author', page.title %}
        <div id="post-wrapper" class="post-wrapper">
        {% for post in posts %}
          {% include postbox.html %}
        {% endfor %}
        </div><!-- .post-wrapper -->
    </main><!-- .site-main -->
</div><!-- .site-content -->