---
layout: default
---

<div id="content" class="site-content">
    <main id="main" class="site-main inner">
        <article class="post page">
            <div class="video-thumbnail">
                <video autoplay loop muted playsinline poster="/assets/video/colour-animation.jpg" title="james-milton-color-animation">
                  <source src="/assets/video/colour-animation.m4v" type="video/mp4" />
                  <source src="/assets/video/colour-animation.webm" type="video/webm" />
                  <source src="/assets/video/colour-animation.ogv" type="video/ogg" />
                  <source src="/assets/video/colour-animation.mp4" />
                  <object type="application/x-shockwave-flash" data="/assets/video/flashfox.swf" width="720" height="720" style="position:relative;">
                  <param name="movie" value="/assets/video/flashfox.swf" />
                  <param name="allowFullScreen" value="true" />
                  <param name="flashVars" value="autoplay=true&amp;controls=false&amp;fullScreenEnabled=false&amp;posterOnEnd=true&amp;loop=true&amp;poster=/assets/video/colour-animation.jpg&amp;src=colour-animation.m4v" />
                   <embed src="/assets/video/flashfox.swf" width="720" height="720" style="position:relative;"  flashVars="autoplay=true&amp;controls=false&amp;fullScreenEnabled=false&amp;posterOnEnd=true&amp;loop=true&amp;poster=/assets/video/colour-animation.jpg&amp;src=colour-animation.m4v"	allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
                  <img alt="james-milton-color-animation" src="/assets/video/colour-animation.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
                  </object>
                </video>
            </div>
            <header class="entry-header">
                <h2 class="entry-title">What makes me, me?</h2>
            </header><!-- .entry-header -->
            <div class="entry-content">
                {{content}}
            </div>
        </article><!-- .post .page -->
    </main><!-- .site-main -->
    <div class="entry-header">
        <h2 class="entry-title">Some of my work</h2>
    </div>
    {% include featuredbox.html %}
    <div class="entry-header">
        <form action="{{ site.baseurl }}/portfolio">
          <input type="submit" value="🌊 Wanna see more? 🌊" />
        </form>
    </div>
</div><!-- .site-content -->
