---
layout: default
---

<div id="content" class="site-content">
    <main id="main" class="site-main inner">
        <article class="post page">
            {% if page.image %}
            <div class="post-thumbnail"><img src="{{ site.baseurl }}{{ page.image }}" alt="{% if page.image_alt %}{{ page.image_alt }}{% else %}{{ page.title }}{% endif %}" /></div>
            {% endif %}
            <header class="entry-header">
                <h1 class="entry-title">What makes me, me?</h1>
            </header><!-- .entry-header -->
            <div class="entry-content">
                {{content}}
            </div>
        </article><!-- .post .page -->
    </main><!-- .site-main -->
    <div class="entry-header">
        <h1 class="entry-title">Some of my work</h1>
    </div>
    {% include featuredbox.html %}
    <div class="entry-header">
        <form action="{{ site.baseurl }}/portfolio">
          <input type="submit" value="🌊 Wanna see more? 🌊" />
        </form>
    </div>
</div><!-- .site-content -->
