---
layout: default
---

<div id="content" class="site-content">
    <main id="main" class="site-main inner">
        <article class="post page">
            <div class="video-thumbnail">
                <video autoplay loop muted playsinline poster="/assets/video/colour-animation.jpg" title="james-milton-color-animation">
                  <source src="/assets/video/colour-animation.m4v" type="video/mp4" />
                  <source src="/assets/video/colour-animation.webm" type="video/webm" />
                  <source src="/assets/video/colour-animation.ogv" type="video/ogg" />
                  <source src="/assets/video/colour-animation.mp4" />
                  <object type="application/x-shockwave-flash" data="/assets/video/flashfox.swf" width="720" height="720" style="position:relative;">
                  <param name="movie" value="/assets/video/flashfox.swf" />
                  <param name="allowFullScreen" value="true" />
                  <param name="flashVars" value="autoplay=true&amp;controls=false&amp;fullScreenEnabled=false&amp;posterOnEnd=true&amp;loop=true&amp;poster=/assets/video/colour-animation.jpg&amp;src=colour-animation.m4v" />
                   <embed src="/assets/video/flashfox.swf" width="720" height="720" style="position:relative;"  flashVars="autoplay=true&amp;controls=false&amp;fullScreenEnabled=false&amp;posterOnEnd=true&amp;loop=true&amp;poster=/assets/video/colour-animation.jpg&amp;src=colour-animation.m4v"	allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
                  <img alt="james-milton-color-animation" src="/assets/video/colour-animation.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
                  </object>
                </video>
            </div>
            <header class="entry-header">
                <h2 class="entry-title">What makes me, me?</h2>
            </header><!-- .entry-header -->
            <div class="entry-content">
                {{content}}
            </div>
        </article><!-- .post .page -->
    </main><!-- .site-main -->
    <div class="entry-header">
        <h2 class="entry-title">Timeline</h2>
    </div>
    <section class="timeline">
      <ul class="listTimeline">
        <li>
          <div>
            <h3>Red Bull Media House / Digital Product Specialist 👨‍💻</h3> <time>JULY 2019 - PRESENT, SALZBURG AUSTRIA 🇦🇹</time> Product-owner of ‘Beyond the Ordinary’ digital products for Red Bull. Designing, developing, and managing digital media for culture, sport, and product-related content on <a href="https://redbull.com" target="_blank">RedBull.com</a> and further digital platforms.
          </div>
        </li>
        <li>
          <div>
            <h3>Leeds Design School / Master of Arts Motion and Digital Design 🎓</h3> <time>SEP 2018 - SEP 2019, LEEDS U.K 🇬🇧</time> Practice and research-based Design study in response to a demanding industry & rapidly changing society. Exploring Colour, Digital, Interactive, Information, Motion Graphic, Typographic & Branding Design. My specialist project was the production of an <a href="/specialist-project" target="_blank"> Interactive Motion Graphic that educates on sleep health</a>. Graduated with Distinction.
          </div>
        </li>
        <li>
          <div>
            <h3>Arup Design / Designer & Developer Consultant 👨‍🎨</h3> <time>MAY 2018 - SEPT 2018, SHEFFIELD U.K 🇬🇧</time> Worked for the U.K Government research funded ‘Urban Flows Observatory’ organization, which seeks to understand the flows of energy in major cities to help achieve a zero-carbon future. I created a <a href="/arup" target="_blank">Virtual Reality platform</a> that provides visual representations of the internal & external environments of the University of Sheffield’s ‘Diamond’ Smart Building. Additionally, I designed the external physical enclosures for sensors that record environmental data within the city of Sheffield.
          </div>
        </li>
        <li>
          <div>
            <h3>Rolls-Royce / Software Design Engineer Intern 👨‍💻</h3> <time>JUNE 2016 - JUNE 2017, DERBY U.K 🇬🇧</time> Worked within the Civil Aerospace Demonstrators division, which focuses on the development of <a href="https://www.rolls-royce.com/products-and-services/civil-aerospace/future-products.aspx#/" target="_blank">future aerospace products</a>. My team was designing, developing & testing software for the next-generation Rolls-Royce jet engines for wide-body aircraft & business jets.
          </div>
        </li>
        <li>
          <div>
            <h3>University of Sheffield / BSc (Hons) Computer Science 🎓</h3> <time> SEP 2014 - JUNE 2018, SHEFFIELD U.K 🇬🇧</time> Published my final year dissertation <a href="https://www.researchgate.net/publication/331651264_Visually_Displaying_Past_and_Present_Smart_Building_Data_Through_Virtual_Reality" target="_blank">‘Visually Displaying Past and Present Smart Building Data Through Virtual Reality’</a> at the CIBSE Technical Symposium 2019 and won the best paper award10. For this, I <a href="/dissertation" target="_blank">implemented a system</a> that converts real-time Smart Building data, such as room temperature & CO2 density, into visual and interactive representations within Virtual Reality. Graduated with First-class Honours.
          </div>
        </li>
        <li>
          <div>
            <h3>Freelance Creator 🎨</h3> <time>JUNE 2013 - PRESENT, EVERYWHERE 🌎</time> Manage a wide variety of cross-media projects involving <a href="https://www.youtube.com/channel/UC4G3WR8U8Uk0OY62jD1Ut_w" target="_blank">videography and motiongraphics</a>, <a href="/f1-app/" target="_blank">UX/UI</a>, <a href="/tag/🎨/" target="_blank">graphic and digital design</a>, <a href="/tag/💻/" target="_blank">web and app development</a>. Consulting for individuals, companies & academic institutions.
          </div>
        </li>
      </ul>
    </section>
    <div class="fade"></div>
    <div class="entry-header">
      <button id="next"> ⏳ Show more? ⏳ </button>
    </div>
    </br>
    <div class="entry-header">
        <h2 class="entry-title">Some of my work</h2>
    </div>
    {% include featuredbox.html %}
    <div class="entry-header">
        <form action="{{ site.baseurl }}/portfolio">
          <input type="submit" value="🌊 Wanna see more? 🌊" />
        </form>
    </div>
</div><!-- .site-content -->
